*,*::before, *::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
}

img{
    max-width: 100%;
}

h1{
    font-size: 3rem;
    margin-top: 0;
}

.section-title{
    color: #87629A;
}

.btn{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase; 
    color: #23424A;
    font-weight: 900;
    background-color: #38CFD9;
    padding: .75em 2em;
    border-radius: 100px;
}


.btn:hover,
.btn:focus {
    opacity: .75; 
}


/* navigation*/

.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    /* added for nav-toggle positioning */
    position: relative;
}

header {
    background:#2980b9 ;
    padding: 1em 0;
    text-align: center;
}

.nav {
    width: 100%;
}

.row-nav{
    display: flex;
    justify-content: center;
}


.menu ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 1.4em;
}

.menu ul li{
    padding: 0.938em;
    color: #fff;
    border: 1px solid #12CBC4;
    margin: 0.5em;
}

.menu ul li:hover{
    background-color: #57606f;
    color: #12cbc4;
}

.nav-toggle {
    cursor: pointer;
    border: 0;
    width: 3em;
    height: 3em;
    padding: 0em;
    border-radius: 50%;
    background: #072A2D;
    color: white;
    transition: opacity 250ms ease;
    
    position: absolute;
    left: 0;
}

.nav-toggle:focus,
.nav-toggle:hover {
    opacity: .75;
}

.hamburger {
    width: 50%;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    display: block;
    margin: 0 auto;
    height: 3px;
    background: white;
}

.hamburger::before,
.hamburger::after {
    content: '';
    width: 100%;
}

.hamburger::before {
    transform: translateY(-6px);
}

.hamburger::after {
    transform: translateY(3px);
}

/* made changes 
 to make it more accessible. */


.nav {
    visibility: hidden;
    height: 0;
    position: absolute;
}

.nav--visible {
    visibility: visible;
    height: auto;
    position: relative;
} 


.logo {
    height: 30px;
}


/*introductionyourself*/

.introductionyourself{
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    margin-left: 1.125em;
}

.introductionyourself h2{
    color: #fff ;
    font-size: 1.063rem;
    text-transform: uppercase;
}

.introductionyourself h1{
    font-weight: lighter;
    font-size: 2.813rem;
}

.introductionyourself .web{
    text-transform: lowercase;
    color: #fff;
    font-weight: bolder;
    font-size: 1.25rem;
}

.web{
    padding-bottom: 1.875em;
}


*main*/  /*que hago*/

.heading-title{
    text-align: center;
    font-size: 1.25rem;
    font-weight: lighter;
    margin-top: 2.25em;
    margin-bottom: 1.85em;
}


.element-widget{
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    color:#95a5a6;
}



.icons img{

    margin-top: 0.875em;
    width: 5em;
    height: 2.5em;
}

/* main */  /*UI/UX DESIGN */

.icons-1 img{
    margin-top: 3.438em;
    width: 2.5em;
    height: 1.5em;
}

.icons-2 img{
    margin-top: 3.438em;
    width: 2.5em;
    height: 1.5em;
}

.icons-3 img{
    margin-top: 3.438em;
    width: 2.5em;
    height: 1.5em;
}

.element-widget-app p{
    margin-bottom: 1.875em;
    text-align: center;
    margin-left: 0.938em;
    margin-right: 0.938em;
    color:#95a5a6;
}


/* portfolio */

.portfolio-01,
.portfolio-02,
.portfolio-03,
.portfolio-04,
.portfolio-05,
.portfolio-06 {
    margin: 20px;
}

/* footer */

.site-footer{
    text-align: center;
}


@media(min-width: 320px){
    .icons-1 img{
        display: flex;
        justify-content: center;
        width: 400px;
    }

    .icons-2 img{
        display: flex;
        justify-content: center;
        width: 400px;
    }

    .icons-3 img{
        display: flex;
        justify-content: center;
        width: 400px;
    }


    .row-heading h2{
        display: flex;
        justify-content: center;
    }

    .row-title h2{
        display: flex;
        justify-content: center;
    }

    .row-web h2{
        display: flex;
        justify-content: center;
    }

    .row-heading-app h2{
        display: flex ;
        justify-content: center;
    }


    .row-portfolio{
        display: flex;
        flex-wrap: wrap;
        
    }

    .row-myself .learning-more{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .row-experience .maquetador-web{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .maquetador-web p{
        max-width: 480px;
        text-align: justify;
    }

    .row-experience .modelador-3d{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .modelador-3d p{
        max-width: 480px;
        text-align: justify;
    }

    .row-experience .littleaboutmyself{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .littleaboutmyself p{
        max-width: 480px ;
        text-align: justify;
    }

    .row-experience .hobbies{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hobbies p{
        max-width: 480px;
        text-align: justify;
    }

    .hobbies h2{
        text-align: center;
    }
}


@media (min-width: 768px) {
    
    .nav-toggle {
        display: none;
    }

    .nav {
        visibility: visible;
        display: flex;
        height: auto;
    }

    .row {
        display: flex;
        justify-content: space-between;

    }


    header{
        background-color: #2980b9;
    }
    
    
    .row-nav{
        display: flex;
        justify-content: space-between;
    }
    
    .row-yourself{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }

    .row-yourself h2,
    .row-yourself h1{
        width: 400px;
    }
    
    
    
    
    .heading-title{
        font-size: 25px;
        font-weight: lighter;
        /*margin-left: 20px;*/
    }
    
    .row-heading h2{
        display: flex;
        justify-content: start;
        margin-left: 5em;
        margin-bottom: 1em;
        width: 400px;
    }
    
    .row-widget{
        max-width: 350px;
        margin-top: 0.313em;
    }

    .row-widget p{
        width: 350px;
    }
    
    .row-img-arrow{
        display: flex;
        justify-content: space-around;
    }
    
    .row-design{
        width: 350px;
    }
    
    .row-development{
        width: 350px;
    }
    
    
    .row-app{
        width: 350px;
    }
    
    .row-section{
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
    }
    
    .row-title h2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-left: 0;
        width: 350px;
    } 
}


@media (max-width: 829px){
    .row-portfolio{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


@media (min-width: 1024px){
    .row-portfolio{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .row-main-do{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .row-heading h2{
    text-align: start;
    }


    .element-widget p{
        font-size: 2rem;
    }

    .site-footer p{
        font-size: 2.5rem;
    }

    .maquetador-web{
        font-size: 2rem;
    }

    .modelador-3d{
        font-size: 2rem;
    }

    .littleaboutmyself{
        font-size: 2rem;
    }

    .hobbies{
        font-size: 2rem;
    }
}



/* Sobre mí*/

.learning-more{
    padding-left: 0.625em;
    padding-top: 1.25em;
    padding-bottom: 1.25em;
}

.learning-more .more{
    margin-top: 0.938em;
    margin-bottom: 0.625em;
    text-transform: uppercase;
    color:#95a5a6;
    font-weight: lighter;
    font-size: 17px;
}

.learning-more p{
    margin-top: 0.938em;
    margin-bottom: 0.625em;
    color:#95a5a6;
    font-weight: bolder;
    font-size: 20px;
}

.learning-more h2{
    font-size: 2.188rem; 
    font-weight: lighter;
}


/*experience*/

.maquetador-web h2{
    margin-top: 1.125em;
    margin-bottom: 1.125em;
    margin-left: 0.625em;
}

.maquetador-web p{
    margin-left: 1.125em;
    margin-right: 1.125em;
    text-align: justify;
}

/*modelador-3D*/

.modelador-3d h2{
    margin-top: 1.125em;
    margin-bottom: 1.125em;
    margin-left: 0.625em;
}

.modelador-3d p{
    margin-left: 1.125em;
    margin-right: 1.125em;
    text-align: justify;
}


/*littleaboutmyself*/


.littleaboutmyself h2{
    margin-top: 1.125em;
    margin-bottom: 1.125em;
    margin-left: 0.625em;
}

.littleaboutmyself p{
    margin-left: 1.125em;
    margin-right: 1.125em;
    text-align: justify;
}


/*hobbies*/


.hobbies h2{
    margin-top: 1.125em;
    margin-bottom: 1.125em;
    margin-left: 0.625em;
}

.hobbies p{
    margin-left: 1.125em;
    margin-right: 1.125em;
    margin-bottom: 1.125em;
    text-align: justify;
}


/*colors*/

/*maquetador web*/

.maquetador-web p{
    margin-bottom: 1.875em;
    text-align: center;
    margin-left: 0.938em;
    margin-right: 0.938em;
    color:#95a5a6;
}

.maquetador-web h2{
    color:#0097e6; 
}



/*modelador 3d*/

.modelador-3d p{
    margin-top: 1.875em;
    margin-bottom: 1.875em;
    text-align: center;
    margin-left: 0.938em;
    margin-right: 0.938em;
    color:#95a5a6;
}

.modelador-3d h2{
    color:#0097e6; 
    margin-top: 4rem;
}


/*litteaboutmyself*/

.littleaboutmyself p{
    margin-bottom: 1.875em;
    text-align: center;
    margin-left: 0.938em;
    margin-right: 0.938em;
    color:#95a5a6;
}

.littleaboutmyself h2{
    text-align: center;
    font-size: 35px;  /*2.188rem*/
    margin-top: 2em;
    margin-right: 0.286em;
    margin-left: 0.286em;
    
}


